<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.skyui.library.web">

    <permission
        android:name="cn.skyui.aidl.permission.SERVICE_PERMISSION"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:authorities="${applicationId}.library.web.provider"
            android:name=".LibraryWebInitProvider"
            android:initOrder="300"
            android:exported="false"/>

        <activity
            android:name=".activity.WebViewActivity"
            android:label=""
            android:launchMode="singleTop"
            android:permission="cn.skyui.aidl.permission.SERVICE_PERMISSION"
            android:process=":h5"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.WebViewInitService"
            android:exported="true"
            android:process=":h5"
            android:permission="cn.skyui.aidl.permission.SERVICE_PERMISSION" />

    </application>

</manifest>
